.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-item p {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
}
